PORT=4000
JWT_SECRET=change_this_to_a_long_random_string
CLIENT_ORIGIN=http://localhost:5173
DB_PATH=./turfspace.db

CLOUDINARY_CLOUD_NAME=xxp1dqkt
CLOUDINARY_API_KEY=773433397159382
CLOUDINARY_API_SECRET=EpOla_k3T_PFtudGd2E2A5dZ1gs
